{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1 class="h1 text-center my-5">Ajouter un nouveau lien</h1>

    {{ include('link/_form.html.twig') }}

<div class="d-flex justify-content-center">
    <a class="btn btn-dark rounded w-auto my-5" href="{{ path('app_link_index') }}">Retour à la liste</a>
</div>

{% endblock %}
